@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 0.75rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

::selection {
  background: orange;
}

.logoHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 100;
}

.logo {
  cursor: pointer;
}

.logoHeader img:hover {
  content: url("./songs/neKiPod2.svg");
  filter: brightness(150%);
}

.background {
  position: fixed;
  inline-size: 200%;
  block-size: 200%;
  inset-block-start: -50%;
  inset-inline-start: -50%;
  z-index: -1;
}

.background img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-inline-size: 50%;
  min-block-size: 50%;
  filter: blur(15px);
  -webkit-filter: blur(50px);
  transform: scale(1.1);
}

.wrapper {
  background-color: #e7e7e7;
  block-size: 31.25rem;
  inline-size: 25rem;
  border-radius: 1.25rem;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}

.wrapper:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}

.player-img {
  inline-size: 18.75rem;
  block-size: 18.75rem;
  position: relative;
  inset-block-start: -3.125rem;
  inset-inline-start: 3.125rem;
}

.player-img img {
  object-fit: cover;
  border-radius: 20px;
  height: 0;
  width: 0;
  opacity: 0;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

.player-img:hover img {
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.8);
}

.player-img img.active {
  inline-size: 100%;
  block-size: 100%;
  transition: all 0.5s;
  opacity: 1;
}

.player-img img::selection {
  background: none;
}

h2 {
  font-size: 1.5625rem;
  text-align: center;
  font-weight: 500;
  margin: -10px 0 0;
}

h3 {
  font-size: 1.125rem;
  text-align: center;
  font-weight: 500;
  margin: 20px 0 0;
}

.player-progress {
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
  block-size: 6px;
  inline-size: 90%;
}

.progress {
  background-color: rgb(202, 225, 253);
  border-radius: 5px;
  block-size: 100%;
  inline-size: 0%;
  transition: width 0.1s linear;
}

.music-duration {
  position: relative;
  inset-block-start: -25px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.music-duration span::selection {
  background: none;
}

.playerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-controls {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  position: relative;
}

.player-controls::selection {
  background: none;
}

.fa-solid {
  font-size: 30px;
  color: #666;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}

.fa-shuffle {
  font-size: 22px;
}

.fa-repeat {
  font-size: 20px;
}

.fa-shuffle.active {
  color: #ff8800;
}

.fa-repeat.active {
  color: #ff8800;
}

.fa-solid:hover {
  filter: brightness(40%);
}

.play-button {
  font-size: 2.75rem;
  position: relative;
  inset-block-start: 3px;
}

.volumeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 0.2rem;
}

.volumeBar {
  inline-size: 35%;
  block-size: 8px;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  margin-block-start: 0.5rem;
}

.volumeRelleno {
  background: rgb(202, 225, 253);
  block-size: 100%;
  inline-size: var(--fill, 100%);
  border-radius: 5px;
  z-index: -1;
}

.volumeBolita {
  background: #666;
  padding: 0;
  border: 0;
  block-size: 10px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  inset-inline-start: var(--fill, 100%);
  inset-block-start: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.volumeBolita:hover {
  filter: brightness(40%);
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  color: white;
  font-size: 14px;
  z-index: 100;
}
